@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Mulish:wght@400;800&family=Open+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    max-width: 1170px;
    height: auto;
    margin: 15px auto;
}
.bangla .img-all-z{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.bangla .img-all-x{
    display: flex;
    gap: 22px;
    margin-bottom: 20px;
}
.bangla .img-all-y{
     display: flex;
     gap: 25px;
     margin-bottom: 20px;
}
.box-a{
    background-image: url('img/Rectangle\ 5.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.box-b{
    background-image: url('img/Rectangle\ 8.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}.box-c{
    background-image: url('img/Rectangle\ 6.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.box-d{
    background-image: url('img/Rectangle\ 7.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.box-e{
    background-image: url('img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}.box-f{
    background-image: url('img/Rectangle\ 11.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.box-g{
    background-image: url('img/Rectangle\ 10.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
/* imgportfoilo end */
/* about section start */
.about{
    max-width: 1170px;
    margin: 10px auto;
}
.container{
    display: flex;
    gap:20px;
    margin: 15px auto;
}
.hotel{
    width: 570px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    display: grid;  
}
.service{
    width: 570px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05); 
    display: grid;  
}
.info-c{
    max-width: 573px;
    margin: 10px auto;
    /* border: 3px solid yellow; */
}
.info-c .price{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);  
    display: grid;
}
@media screen and (max-width : 600px) {

    .bangla .img-all-z{
        flex-direction: column;
    }
    .bangla .img-all-x{
        flex-direction: column;
    }
    .bangla .img-all-y{
        flex-direction: column; 
    }
    .about{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .info-c .price{
        flex-direction: column;
    }
    }


/* about section close */


